@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<h3>Giới thiệu về các tính năng trên</h3>
<p>Use this area to provide additional information.</p>
<p>Hello đây là nhóm chúng</p>
