@{
    ViewBag.Title = "Tutorial - Hướng dẫn sử dụng";
}
<h2>@ViewBag.Title.</h2>
<h3 style="text-align: center;">Tutorial - Hướng dẫn</h3>
<p style="text-align: center;">Đây là hướng dẫn sử dụng trang văn phòng phẩm.</p>
<p>Đối với giám đốc</p>
<ul>
    <li>Quản lí nhân viên - Tạo nhân viên có các trường thông tin cần phải nhập, được phép chỉnh sửa và xóa nhân viên, còn cho phép kích hoạt và vô hiệu hóa tài khoản nhân viên</li>
    <li>Quản lí lịch sử - Có thể theo dõi lịch sử khi thành viên trong các phòng ban thực hiện hành động.</li>
    <li>Phê duyệt đơn hàng từ thành viên các ban sau khi được trưởng phòng phê duyệt và sau khi vật tư ép giá</li>
</ul>
<p>Đối với phòng nhân sự</p>
<ul>
    <li>Cho phép quản lí đơn hàng sau khi phòng vật tư mua hàng, nhân viên trả hàng</li>
</ul>
<p>Đối với phòng kế toán</p>
<ul>
    <li>Gửi tiền cho phòng vật tư để mua hàng</li>
</ul>
<p>Đối với phòng vật tư</p>
<ul>
    <li>Quản lí văn phòng phẩm</li>
    <li>Ép giá và mua hàng</li>
</ul>
<p>Đối với trưởng phòng nhân viên và trưởng phòng: nhân sự, kế toán, vật tư</p>
<ul>
    <li>Trưởng phòng nhân viên: phê duyệt đơn hàng từ nhân viên và trưởng phòng</li>
    <li>Trưởng phòng 3 ban - nhân sự, kế toán, vật tư: phê duyệt đơn hàng từ các thành viên trong 3 ban đó và trưởng phòng</li>
</ul>
<p>Đối với phòng ban nhân viên và các phòng ban còn lại</p>
<ul>
    <li>Yêu cầu văn phòng phẩm</li>
</ul>
